


  <div class="text-success">
    <% if flash[:notice] %>
       <p id="notice text-success">
         <%= flash[:notice] %>
       </p>
    <% end %>
  </div>

  <div class="search_form" style= "text-align: right;padding: 2rem;">
    <%= form_with url: posts_search_path, local: true, method: :GET do |f| %>
      <%= f.text_field :key_word, placeholder: "タイトル,投稿で検索" %>
      <%= f.submit "検索",  class: "btn btn-outline-primary" %>
    <% end %>
  </div>

  <div class="card-list-container py-5">
    <div class="row justify-content-center">
      <% posts.each do |post| %>
      <!--@posts⇨postに変更-->
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="card d-inline-block mt-4 shadow-lg" style= "width: 100%;">
            <%= link_to post_path(post.id) do %>
              <% if post.post_images.attached? %>
                <!--<div style="height:180, width:130">-->
                <!--  複数の写真の一枚目の取得-->
                  <%= image_tag post.post_images.first, class: "card-img-top img-fluid card-item-image" %>
                <!--</div>-->
              <% else %>
                <%= image_tag 'no_image_yoko.jpeg', class: "card-img-top img-fluid card-item-image" %>
              <% end %>
            <% end %>
            <div class="card-body row">
              <div class="col-4">
                <div class="profile-image">
                  <%= image_tag post.user.get_profile_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;",class:"mt-3 rounded-circle"; %>
                </div>
              </div>
              <div class="col-8" style= "text-align:center;">
                <div class="card-title">
                  <%= link_to(post_path(post.id), class:"text-dark") do %>
                    <strong><i class="far fa-flag"></i><span> <%= post.title %></span></strong>
                  <% end %>
                </div>
                <div class="card-tag">
                タグ
                <!--post.tags.pluck(:name)から変更,postの中のnameをeachで回していた-->
                  <% post.tags.each do |tag| %>
                    <%= link_to posts_search_tag_path(tag_id: tag.id) do %>
                      <%= tag.name %>
                    <% end %>
                  <% end %>
                </div>
                <span><i class="fas fa-user"></i> By <%= post.user.name %>  </span>
                <!--<span><%#= link_to "#{post.comments.comment.count} コメント", post_path(post.id), class:"text-dark" %></span>-->
                <div class="caption"><%= "#{post.comments.count} コメント" %></div>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <%= paginate posts %>
  <!--@posts⇨postsに変更-->