<div class="container">
  <div class="row">
    <div class="col-8 offset-1">
      <!--<span class="flag">-->
        <%#= image_tag "flag.png",style: "border-radius: 50%; width: 200px; height: 200px;" %>
      <h2 class="title">新規投稿</h2>
      <!--</span>-->

    </div>
  </div>

  <!--エラーメッセージ-->
  <div class="row">
    <div class="col-10 offset-1">
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h3><%= @post.errors.count %>件のエラーが発生しました</h3>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with model: @post, url: posts_path, local: true, method: :POST do |f| %>
  <div class="row form-group my-3">
    <div class="col-10 offset-1">
      <div class="field">
        <%= f.label :camp_site, "キャンプ場" %><br>
        <%= f.text_field :camp_site, class: "post_form"%>
      </div>

      <div class="field">
        <%= f.label :title, "タイトル" %><br>
        <%= f.text_field :title, class: "post_form" %>
      </div>

      <div class="field">
        <%= f.label :post, "投稿" %>
        <div class="post_area_wrapper">
        <%= f.text_area :post, class: "post_area"%>
        </div>
      </div>

      <div class="field">
        <%= f.label :post_images, "画像" %><br>
        <%= f.file_field :post_images, accept: "image/*", multiple: true %>
      </div>

      <div class="field">
        <%= f.label :tag, "タグ" %><br>
        <!--postのカラムではないためf.を外す-->
        <%= text_field_tag :tag, @post.tags.pluck(:name), placeholder: "スペースで区切ることで複数登録できます", class: "post_form" %>
        <%#= hidden_field_tag :tag, @post.tags  %>
      </div>

      <div class="actions">
        <%= f.submit "投稿", class: "btn btn-outline-primary" %>
      </div>

    </div>
  </div>
  <% end %>
</div>

