<div class="container">
  <div class="row">
    <div class="col">
      <h2>新規投稿</h2>

        <% if @post.errors.any? %>
          <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
    </div>
  </div>

  <%= form_with model: @post, url: posts_path, local: true, method: :POST do |f| %>
  <div class="row">
    <div class="col-3">
      <%= f.label :camp_site, "キャンプ場" %>
    </div>
    <div class="col-3">
      <%= f.text_field :camp_site %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.label :title, "タイトル" %>
    </div>
    <div class="col-3">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.label :post, "投稿" %>
    </div>
    <div class="col-3">
      <%= f.text_field :post %>
    </div>
  </div>

　<div class="row">
　  <div class="col-3">
　    <%= f.label :post_images, "画像" %>
　  </div>
　  <div class="col-3">
　    <%= f.file_field :post_images, accept: "image/*", multiple: true, class: "form-control-file image" %>
　  </div>
　</div>

　<div class="row">
    <div class="col-3">
      <%= f.label :tag, "タグ" %>
    </div>
    <div class="col-3">
      <!--postのカラムではないためf.を外す-->
      <%= text_field_tag :tag, @post.tags.pluck(:name) %>
      <%#= hidden_field_tag :tag, @post.tags  %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.submit "投稿" %>
    </div>
  </div>

  <% end %>
</div>

