<div class="container">
  <div class="row">
    <div class="col">
      <h2>新規投稿</h2>
    </div>
  </div>

  <%= form_with model: @post, url: posts_path, local: true, method: :POST do |f| %>
  <div class="row">
    <div class="col-3">
      <%= f.label :camp_site, "キャンプ場" %>
    </div>
    <div class="col-3">
      <%= f.text_field :camp_site %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.label :title, "タイトル" %>
    </div>
    <div class="col-3">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.label :post, "投稿" %>
    </div>
    <div class="col-3">
      <%= f.text_field :post %>
    </div>
  </div>

　<div class="row">
　  <div class="col-3">
　    <%= f.label :post_image, "画像" %>
　  </div>
　  <div class="col-3">
　    <%= f.file_field :post_image, accept: "image/*",class: "form-control-file image" %>
　  </div>
　</div>

　<div class="row">
    <div class="col-3">
      <%= f.label :tag, "タグ" %>
    </div>
    <div class="col-3">
      <%= f.text_field :tag, value: @post.tags.pluck(:name) %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.submit "投稿" %>
    </div>
  </div>

  <% end %>
</div>

