<div class="container">
  <div class="row">
    <%= @post.title %>
  </div>
  <div class="row">

    <% if @post.post_images.attached? %>
      <%= image_tag @post.image, size: "180x130" %>
    <% else %>
      <%= image_tag 'no_image_yoko.jpeg', size: "180x130" %>
    <% end %>

  </div>

  <div class="row">
    <%= @post.post %>
  </div>

  <div class="row">
    <%= @post.tags.pluck(:name) %>
  </div>

  <div class="row">
    <% @comments.each do |comment| %>
      <%= comment.user.name %><br>
      <%= comment.comment %><br>
    <% end %>
  </div>

  <div class="row">
    <% if user_signed_in? %>
      <%= form_with model: [@post, @comment], url: post_comments_path(@post), local: true, method: :POST do |f| %>
        <%= f.text_area :comment, placeholder: "コメントする" %>
        <%= f.submit 'コメントする' %>
      <% end %>
    <% end %>
  </div>
</div>

