<div class="container">
  <div class="row">
    <%= @post.title %>
  </div>
  <div class="row">

    <% if @post.post_images.attached? %>
      <%= image_tag @post.image, size: "180x130" %>
    <% else %>
      <%= image_tag 'no_image_yoko.jpeg', size: "180x130" %>
    <% end %>

  </div>

  <div class="row">
    <%= @post.post %>
  </div>

  <div class="row">
    <%= @post.tags.pluck(:name) %>
  </div>

  <div class="row">
    <% @comments.each do |comment| %>
      <%= @post.user.name %>
      <%= @post.comments.comment %>
    <% end %>
  </div>

  <div class="row">
    <% form_with model: @comment, url: comments_path, local: true, method: :POST do |f| %>
      <%= f.text_field :comment %>
      <%= f.submit 'コメントする' %>
    <% end %>
  </div>
</div>