<div class="container">
  <div class="row">
    <%= @post.title %>
  </div>
  <div class="row">

    <% if @post.post_images.attached? %>
      <%= image_tag @post.image, size: "180x130" %>
    <% else %>
      <%= image_tag 'no_image_yoko.jpeg', size: "180x130" %>
    <% end %>

  </div>

  <div class="row">
    <%= @post.post %>
  </div>

  <div class="row">
    <%= @post.tags.pluck(:name) %>
  </div>

  <%= link_to '編集', edit_post_path(@post.id), class: "btn btn-info" %>
  <%= link_to '削除', post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-danger" %>
  <%= link_to '一覧へ', posts_path, class: "btn btn-dark" %>

  <div class="row">
    <% @comments.each do |comment| %>
      <%= comment.user.name %><br>
      <%= comment.comment %><br>
        <% if comment.user == current_user %>
          <div class="comment-delete">
            <%= link_to "削除", post_comment_path(@post.id, comment.id), method: :delete, class: "btn-sm btn-danger" %>
          </div>
        <% end %>
    <% end %>
  </div>

  <div class="row">
    <% if user_signed_in? %>
      <%= form_with model: [@post, @comment], url: post_comments_path(@post), local: true, method: :POST do |f| %>
        <%= f.text_area :comment, placeholder: "コメントする" %>
        <%= f.submit 'コメントする' %>
      <% end %>
    <% end %>
  </div>
</div>

