<div class="container">
  <div class="row">
    <div class="col-10 offset-1 title">
      <h2><%= @post.title %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-1 post_content">
      <% if @post.post_images.attached? %>

        <% @post.post_images.each_slice(3) do |post_images| %>
          <div class="row" style="margin-bottom:1rem;">
            <% post_images.each do |post_image| %>
              <div class="col-sm-4 post_image_center">
                <%= image_tag post_image, style: "width:100%;" %>
              </div>
            <% end %>
            <!--</div>-->
          <!--</div>-->
          </div>
        <% end %>

      <% else %>
        <%= image_tag 'no_image_yoko.jpeg', size: "180x130" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1 post_content">
      <%= @post.post %>
    </div>
  </div>
  <div class="row" >
    <div class="col-10 offset-1 post_content">
    タグ:
    <!--each文で複数のものの中から1つずつ取得する-->
      <% @post.tags.pluck(:name).each do |tag_name|%>
        <%= tag_name %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1 post_content">
      <p class="danger" style="color:#a94442;">
        <%= flash[:danger] %>
      </p>

      <% if user_signed_in? %>
        <%= form_with model: [@post, @comment], url: post_comments_path(@post), local: true, method: :POST do |f| %>
          <%= f.text_area :comment, placeholder: "コメントする", style: "width:100%;margin-bottom:0.5rem;", class: "form-control" %>
          <%= f.submit 'コメントする' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row post_content">
    <% @comments.each do |comment| %>
      <div class="col-10 offset-1 post_comment">
        <span><i class="fas fa-user"></i> By <%= comment.user.name %> </span>
        <span class="comment" style="margin-left:1rem;"><%= comment.comment %></span>
          <% if comment.user == current_user %>
            <span class="text-right">
              <%= link_to post_comment_path(@post.id, comment.id), method: :delete,"data-confirm"=>"本当に消しますか？" do %>
                <strong><i class="fas fa-trash-alt"></i></i></strong>
              <% end %>
            </span>
          <% end %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="button col-8 offset-1 post_content">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <%= link_to '編集', edit_post_path(@post.id),  class: "btn btn-outline-success" %>
        <%= link_to '削除', post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-outline-danger"%>
      <% end %>
      <%= link_to '一覧へ', posts_path, class: "btn btn-outline-secondary"%>
    </div>
  </div>

  <%# if @post.favorited?(current_user) %>
    <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%#= link_to post_favorites_path(@post.id), method: :delete do %>
  <!--      <span style="color:red;">❤︎</span>-->
    <%# end %>
  <%# else %>
    <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%#= link_to post_favorites_path(@post.id), method: :post do %>
  <!--      <span>❤︎</span>-->
    <%# end %>
  <%# end %>

</div>

