<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">編集</h2>
    </div>
  </div>

  <%= form_with model: @checklist, url: admin_category_checklist_path(@category.id, @checklist), local: true, method: :PATCH do |f| %>
   　<div class="row form-group">
      <div class="col-10 offset-1">
        <div class="field">
          <%= f.text_field :checklist_name,placeholder: "アイテム名", class: "form-control" %>
        </div>
      <!--</div>-->

      <!--<div class="col-5">-->
        <div class="field">
          <div class="post_area_wrapper">
            <%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
          </div>
        </div>
      <!--</div>-->
      <!--<div class="col-2">-->
        <div class="actions" style="margin-left:-1rem;">
        　<%= f.submit '更新',class: "btn btn-outline-success" %>
        　<%= link_to '戻る', admin_category_checklists_path(@category.id), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>