<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">編集</h2>
    </div>
  </div>

    <!--エラーメッセージ-->
  <div class="row">
    <div class="col-lg-4 col-sm-10 offset-1">
      <% if @checklist.errors.any? %>
        <div id="error_explanation">
          <h3><%= @checklist.errors.count %>件のエラーが発生しました</h3>
            <ul>
              <% @checklist.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>


  <%= form_with model: @checklist, url: admin_category_checklist_path(@category.id, @checklist), local: true, method: :PATCH do |f| %>
    <div class="row form-group">
      <div class="col-10 offset-1">
        <div class="field">
          <%= f.text_field :checklist_name,placeholder: "アイテム名", class: "form-control" %>
        </div>
        <div class="field">
          <div class="post_area_wrapper">
            <%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit '更新',class: "btn btn-outline-success" %>
          <%= link_to '戻る', admin_category_checklists_path(@category.id), class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>