<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title"><%= @user.name %>さんのチェックリスト</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>アイテム名</th>
            <th>コメント</th>
            <th>
              <%= link_to '戻る', admin_users_path, class: "btn btn-outline-secondary" %>
            </th>
          </tr>
        </thead>
        <% @checklists.each do |checklist| %>
          <tbody>
            <tr>
              <td><%= checklist.checklist_name %></td>
              <td><%= checklist.comment %></td>
              <td><%= link_to '削除', admin_user_checklists_destroy_path(@user.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
