<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title"><%= @user.name %>さんのチェックリスト</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <ul class="item_list">
        <% @checklists.each do |checklist| %>
          <li class="item_name">
            <a><%= checklist.checklist_name %></a>
            <span class="delete_link" style="float: right;">
              <%= link_to "削除",user_checklist_path(@user.id, checklist.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %>
            </span>
          </li>
          <li class="item_comment">
            <%= checklist.comment %>
          </li>
        <% end %>
      </ul>
      <span class="delete_link" style="float:right;margin-bottom:1rem;">
        <%= link_to '戻る', admin_user_path(@user), class: "btn btn-outline-secondary" %>
      </span>
    </div>
  </div>
</div>
