<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">チェックリスト</h2>
    </div>
  </div>

  <!--<div class="row">-->
  <!--  <div class="col-10 offset-1">-->
      <%= form_with model: @checklist, url: admin_category_checklists_path(@category), local: true, method: :POST do |f| %>
      <div class="row form-group">
        <div class="col-10 offset-1">
          <div class="field">
            <%= f.text_field :checklist_name,placeholder: "アイテム名", class: "post_form" %>
          </div>
        <!--</div>-->

        <!--<div class="col-5">-->
          <div class="field">
            <div class="post_area_wrapper">
              <%= f.text_area :comment, placeholder: "コメント", class: "post_area" %>
            </div>
          </div>
        <!--</div>-->
        <!--<div class="col-2">-->
          <div class="actions" style="margin-left:-1rem;">
          　<%= f.submit '追加',class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
      <% end %>
  <!--  </div>-->
  <!--</div>-->

  <div class="row">
    <div class="col-10 offset-1">
      <%= form_with model: @checklist, url:  admin_category_checklists_destroy_all_path(@category), local: true,method: :DELETE do |f| %>
        <div class="table_area">
          <table class="scroll_table table">
            <thead>
              <tr>
                <th>一覧</th>
                <th></th>
                <th></th>
                <th><%= f.submit '削除', data: {confirm: "本当に削除してもよろしいですか?"}, class: 'btn btn-outline-danger' %></th>
              </tr>
            </thead>
            <% @checklists.each do |checklist| %>
            <tbody>
              <tr>
                <th><%= check_box "deletes", checklist.id, style: 'transform: scale(2);' %></th>
                <th><%= checklist.checklist_name %></th>
                <td><%= checklist.comment %></td>
                <td><%= link_to "編集", edit_admin_category_checklist_path(@category,checklist.id), class: "btn btn-outline-secondary" %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>



</div>