<div class="container">
  <div class="row">
    <div class="col-10 offset-1 text-success">
      <% if flash[:notice] %>
         <p id="notice text-success">
           <%= flash[:notice] %>
         </p>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">キャンプ編集</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-sm-10 offset-1">
      <% if @camp.errors.any? %>
        <div id="error_explanation">
          <h3><%= @camp.errors.count %>件のエラーが発生しました</h3>
            <ul>
              <% @camp.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with model: @camp, url: camp_path(@camp.id), local: true, method: :PATCH do |f| %>
    <!--<div class="wrapper" style="padding:-5rem;border: 2px solid #f2dede;">-->
      <div class="row form-group my-3">
        <div class="col-lg-4 col-md-6 col-sm-8 col-6 offset-1">
          <%= f.label :schedule, "日程" %><br>
          <%= f.date_field :schedule, class: "form-control" %>
        </div>
      </div>

      <div class="row form-group my-3">
        <div class="col-10 offset-1">
          <%= f.label :camp_site, "キャンプ場" %>
          <%= f.text_field :camp_site,class: "form-control" %>
        </div>
      </div>

      <div class="row form-group my-3">
        <div class="col-lg-4 col-md-6 col-sm-8 col-6 offset-1" style="">
          <%= f.label :number_of_people, "人数" %><br>
          <%= f.select :number_of_people, *[1..10], {}, {class: 'form-control'}%>
        </div>
      </div>

      <div class="row button" style="margin-top:30px;padding-bottom:1rem;border-bottom: 2px dotted #f2dede">
        <div class="col-8 offset-1">
          <%= f.submit "更新", class: "btn btn-outline-success" %>
        </div>
      </div>
    <!--</div>-->
  <% end %>

  <div class="row">
    <div class="col-10 offset-1" >
      <%= render 'public/camps/checklist', checklists: @checklists, camp: @camp, active_checklist_ids: @active_checklist_ids %>
    </div>
  </div>

  <!--camp: @campを追加-->
  <div class="row" style="margin-top:1rem;">
    <div class="col-10 offset-1">
      <%= render 'public/checklists/list', checklist: @checklist, camp: @camp %>
    </div>
  </div>


</div>