<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">マイキャンプ一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>日程</th>
            <th>場所</th>
            <th>作成日</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @camps.each do |camp| %>
          <tr>
            <td>
              <%= link_to camp_path(camp.id), class: "btn btn-outline-secondary" do %>
                <%= camp.schedule %>
              <% end %>
            </td>
            <td>
              <%= camp.camp_site %>
            </td>
            <td>
              <%= l camp.created_at %>
            </td>
            <td>
              <%= link_to '削除', camp_path(camp), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= paginate @camps %>
</div>