<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">キャンプ作成</h2>
    </div>
  </div>

  <!--エラーメッセージ-->
  <div class="row">
    <div class="col-4 offset-1">
      <% if @camp.errors.any? %>
        <div id="error_explanation">
          <h3><%= @camp.errors.count %>件のエラーが発生しました</h3>
            <ul>
              <% @camp.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with model: @camp, url: camps_path, local: true, method: :POST do |f| %>
  <div class="row form-group my-3">
    <div class="col-lg-4 col-md-6 col-sm-8 col-6 offset-1">
      <%= f.label :schedule, "日程" %><br>
      <%= f.date_field :schedule,class: "post_form" %>
    </div>
  </div>

  <div class="row form-group my-3">
    <div class="col-10 offset-1">
      <%= f.label :camp_site, "キャンプ場" %>
      <%= f.text_field :camp_site,class: "post_form" %>
    </div>
  </div>

  <div class="row form-group my-3">
    <div class="col-8 offset-1">
      <%= f.label :number_of_people, "人数" %><br>
      <%= f.select :number_of_people, *[1..10] %>
    </div>
  </div>

  <div class="row button">
    <div class="col-8 offset-1" style = "margin-bottom: 1rem">
      <%= f.submit "チェックリスト作成", class: "btn btn-outline-primary" %>
    </div>
  </div>

  <% end %>
</div>