<div class="container">
  <div class="row">
    <div class="text-success">
      <% if flash[:notice] %>
         <p id="notice text-success">
           <%= flash[:notice] %>
         </p>
      <% end %>
    </div>
    <div class="title">
      <h4>キャンプの予定</h4>
    </div>
  </div>

  <div class="row">
    <table class="table" style="width:300px;">
      <body>
        <tr>
          <th>日程</th>
          <td><%= @camp.schedule %></td>
        </tr>
        <tr>
          <th>場所</th>
          <td><%= @camp.camp_site %></td>
        </tr>
      </tbody>
    </table>
  </div>


  <%= render 'public/checklists/camp_for_index', checklists: @checklists %>

  <div class="row">
    <div class="col text-center">
      <%= link_to "編集する", edit_camp_path(@camp.id), class: "btn btn-primary" %>
      <%= link_to "チェックリストへ", user_my_checklist_index_path(@user.id), class: "btn btn-primary" %>
    </div>
  </div>
</div>