<div class="container">
  <div class="row">
    <div class="text-success">
      <% if flash[:notice] %>
         <p id="notice text-success">
           <%= flash[:notice] %>
         </p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
        <h2 class="title">キャンプの予定</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-1">
      <table class="table">
        <body>
          <tr>
            <th>日程</th>
            <td><%= @camp.schedule %></td>
          </tr>
          <tr>
            <th>場所</th>
            <td><%= @camp.camp_site %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <%= render 'public/checklists/camp_for_index', checklists: @checklists %>
    </div>
  </div>


</div>
<div class="container">
  <div class="row">
    <div class="col-4 offset-1">
      <%= link_to "編集する", edit_camp_path(@camp.id), class: "btn btn-outline-primary" %>
      <%= link_to "チェックリストへ", user_my_checklist_index_path(@user.id), class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

