<div class="container">
  <div class="row">
    <div class="text-success">
      <% if flash[:notice] %>
         <p id="notice text-success">
           <%= flash[:notice] %>
         </p>
      <% end %>
    </div>
    <div class="col-3">
      <h4>キャンプの予定</h4>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>日程</th>
        <th>場所</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @camp.schedule %>
        </td>
        <td>
          <%= @camp.camp_site %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= render 'public/checklists/camp_for_index', checklists: @checklists %>

  <div class="row">
    <div class="col">
      <%= link_to "編集する", edit_camp_path(@camp.id) %>
      <%= link_to "チェックリストへ", user_my_checklist_index_path(@user.id)  %>
    </div>
  </div>
</div>