<div class="row">
  <div class="col-lg-4 col-sm-10">
    <% if checklist.errors.any? %>
      <div id="error_explanation">
        <h3><%= checklist.errors.count %>件のエラーが発生しました</h3>
          <ul>
            <% checklist.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </div>
</div>

<!--<div class="row" style="margin-bottom:2rem;">-->
  <%= form_with model: checklist, url: camp_checklists_path(camp), local: true, method: :POST do |f| %>

  <!--@checklist ⇨ checklistに変更、@camp⇨camp-->
    <div class="row form-group">
      <div class="col">
        <div class="field" style="margin-top:1rem;">
          アイテムを追加する？<%= image_tag '23227189.jpg',class: "icon" %>
          <%= f.text_field :checklist_name,placeholder: "アイテム名", class: "post_form" %>
        </div>
        <div class="field">
          <div class="post_area_wrapper">
            <%= f.text_area :comment, placeholder: "コメント", class: "post_area" %>
          </div>
        </div>


        <%= f.fields_for :checklist_manages do |cm| %>
          <%= cm.hidden_field :camp_id, value: camp.id %>
          <%= cm.hidden_field :user_id, value: current_user.id %>
        <% end %>

        <div class="field">
           <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :category_name) %>
         </div>

        <div class="actions">
          <%= f.submit '追加',class: "btn btn-outline-success" %>
        </div>
      </div>
    </div>
  <% end %>
<!--</div>-->