<div class="container">
  <div class="text-success" s>
    <% if flash[:notice] %>
       <p id="notice text-success">
         <%= flash[:notice] %>
       </p>
    <% end %>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">チェックリスト</h2>
    </div>
  </div>

  <div class="row" style="margin-top:2rem">
    <div class="col-10 offset-1">
      <%= form_with url: update_checklist_manage_camp_path(@camp), local: true, method: :patch do |f| %>
        <nav class="tab_area">
          <div class="nav nav-tabs tab_menu" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-site-tab" data-toggle="tab" href="#nav-site" role="tab" aria-controls="nav-site" aria-selected="true">サイト</a>
            <a class="nav-item nav-link" id="nav-cook-tab" data-toggle="tab" href="#nav-cook" role="tab" aria-controls="nav-cook" aria-selected="false">料理</a>
            <a class="nav-item nav-link" id="nav-tent-tab" data-toggle="tab" href="#nav-tent" role="tab" aria-controls="nav-tent" aria-selected="false">テント泊</a>
            <a class="nav-item nav-link" id="nav-bonfire-tab" data-toggle="tab" href="#nav-bonfire" role="tab" aria-controls="nav-bonfire" aria-selected="false">焚き火</a>
            <a class="nav-item nav-link" id="nav-others-tab" data-toggle="tab" href="#nav-others" role="tab" aria-controls="nav-others" aria-selected="false">その他</a>
            <%= f.submit '作成', class: "btn btn-outline-primary"%>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-site" role="tabpanel" aria-labelledby="nav-site-tab">
            <ul class="item_list">
              <%# check_boxから変更 %>
              <%= f.collection_check_boxes :site_categories ,@checklists.site_category , :id, :checklist_name do |checklist| %>
                <li class="item_name">
                  <a><%= checklist.check_box %></a>
                  <a><%= checklist.object.checklist_name %></a>
                </li>
                <li class="item_comment">
                  <%= checklist.object.comment %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-cook" role="tabpanel" aria-labelledby="nav-cook-tab">
            <ul class="item_list">
              <%= f.collection_check_boxes :cook_categories ,@checklists.cook_category , :id, :checklist_name do |checklist| %>
               <%# @camp.checklists.cook_category.each do |checklist| %>
                <li class="item_name">
                  <a><%= checklist.check_box %></a>
                  <a><%= checklist.object.checklist_name %></a>
                </li>
                <li class="item_comment">
                  <%= checklist.object.comment %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-tent" role="tabpanel" aria-labelledby="nav-tent-tab">
            <ul class="item_list">
              <%= f.collection_check_boxes :tent_categories ,@checklists.tent_category , :id, :checklist_name do |checklist| %>
                <li class="item_name">
                  <a><%= checklist.check_box %></a>
                  <a><%= checklist.object.checklist_name %></a>
                </li>
                <li class="item_comment">
                  <%= checklist.object.comment %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-bonfire" role="tabpanel" aria-labelledby="nav-bonfire-tab">
            <ul class="item_list">
              <%= f.collection_check_boxes :bonfire_categories ,@checklists.bonfire_category , :id, :checklist_name do |checklist| %>
               <%# @camp.checklists.cook_category.each do |checklist| %>
                <li class="item_name">
                  <a><%= checklist.check_box %></a>
                  <a><%= checklist.object.checklist_name %></a>
                </li>
                <li class="item_comment">
                  <%= checklist.object.comment %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="tab-pane fade" id="nav-others" role="tabpanel" aria-labelledby="nav-others-tab">
            <ul class="item_list">
              <%= f.collection_check_boxes :others_categories ,@checklists.others_category , :id, :checklist_name do |checklist| %>
               <%# @camp.checklists.cook_category.each do |checklist| %>
                <li class="item_name">
                  <a><%= checklist.check_box %></a>
                  <a><%= checklist.object.checklist_name %></a>
                </li>
                <li class="item_comment">
                  <%= checklist.object.comment %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <!--camp: @campを追加-->
      <%= render 'list', checklist: @checklist, camp: @camp %>
    </div>
  </div>
</div>