<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">マイチェックリスト</h2>
    </div>
  </div>

  <div class="row" style="margin-top:2rem">
    <div class="col-10 offset-1">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-site-tab" data-toggle="tab" href="#nav-site" role="tab" aria-controls="nav-site" aria-selected="true">サイト</a>
          <a class="nav-item nav-link" id="nav-cook-tab" data-toggle="tab" href="#nav-cook" role="tab" aria-controls="nav-cook" aria-selected="false">料理</a>
          <a class="nav-item nav-link" id="nav-tent-tab" data-toggle="tab" href="#nav-tent" role="tab" aria-controls="nav-tent" aria-selected="false">テント泊</a>
          <a class="nav-item nav-link" id="nav-bonfire-tab" data-toggle="tab" href="#nav-bonfire" role="tab" aria-controls="nav-bonfire" aria-selected="false">焚き火</a>
          <a class="nav-item nav-link" id="nav-others-tab" data-toggle="tab" href="#nav-others" role="tab" aria-controls="nav-others" aria-selected="false">その他</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-site" role="tabpanel" aria-labelledby="nav-site-tab">
          <ul class="item_list">
            <% @checklists.site_category.each do |checklist| %>
              <li class="item_name">
                <a><%= checklist.checklist_name %></a>
                <span class="button_link_wrapper" style="float: right;">
                  <%= link_to "編集", edit_user_checklist_path(@user.id, checklist.id), class: "btn btn-outline-primary" %>
                  <%= link_to "削除",user_checklist_path(@user.id, checklist.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %>
                    <!--削除ボタンをアイコンに変更-->
                    <!--<strong><i class="fas fa-trash-alt"></i></i></strong>-->
                  <%# end %>
                </span>
              </li>
              <li class="item_comment">
                <%= checklist.comment %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-cook" role="tabpanel" aria-labelledby="nav-cook-tab">
          <ul class="item_list">
            <% @checklists.cook_category.each do |checklist| %>
              <li class="item_name">
                <a><%= checklist.checklist_name %></a>
                <span class="button_link_wrapper" style="float: right;">
                  <%= link_to "編集", edit_user_checklist_path(@user.id, checklist.id), class: "btn btn-outline-primary" %>
                  <%= link_to "削除",user_checklist_path(@user.id, checklist.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %>
                </span>
              </li>
              <li class="item_comment">
                <%= checklist.comment %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-tent" role="tabpanel" aria-labelledby="nav-tent-tab">
          <ul class="item_list">
            <% @checklists.tent_category.each do |checklist| %>
              <li class="item_name">
                <a><%= checklist.checklist_name %></a>
                <span class="button_link_wrapper" style="float: right;">
                  <%= link_to "編集", edit_user_checklist_path(@user.id, checklist.id), class: "btn btn-outline-primary" %>
                  <%= link_to "削除",user_checklist_path(@user.id, checklist.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %>
                </span>
              </li>
              <li class="item_comment">
                <%= checklist.comment %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-bonfire" role="tabpanel" aria-labelledby="nav-bonfire-tab">
          <ul class="item_list">
            <% @checklists.bonfire_category.each do |checklist| %>
              <li class="item_name">
                <a><%= checklist.checklist_name %></a>
                <span class="button_link_wrapper" style="float: right;">
                  <%= link_to "編集", edit_user_checklist_path(@user.id, checklist.id), class: "btn btn-outline-primary" %>
                  <%= link_to "削除",user_checklist_path(@user.id, checklist.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %>
                </span>
              </li>
              <li class="item_comment">
                <%= checklist.comment %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="tab-pane fade" id="nav-others" role="tabpanel" aria-labelledby="nav-others-tab">
          <ul class="item_list">
            <% @checklists.others_category.each do |checklist| %>
              <li class="item_name">
                <a><%= checklist.checklist_name %></a>
                <span class="button_link_wrapper" style="float: right;">
                  <%= link_to "編集", edit_user_checklist_path(@user.id, checklist.id), class: "btn btn-outline-primary" %>
                  <%= link_to "削除",user_checklist_path(@user.id, checklist.id), method: :delete, data: { confirm: "本当に削除してもよろしいですか?"},class: "btn btn-outline-danger" %>
                </span>
              </li>
              <li class="item_comment">
                <%= checklist.comment %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>