<div class="container">
  <div class="row">
    <div class="col-8 offset-1 post_content">
      <h2 class="title"><%= @post.title %></h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-8 offset-sm-1 post_content">
      <% if @post.post_images.attached? %>
        <% @post.post_images.each_slice(3) do |post_images| %>
          <div class="row">
            <% post_images.each do |post_image| %>
              <div class="col-sm-4 post_image_center">
                <%= image_tag post_image, style: "width:100%;" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= image_tag 'no_image_yoko.jpeg', size: "180x130" %>
      <% end %>
    </div>
  </div>

    <div class="row">
      <div class="col-10 offset-1 post_content">
        <%= @post.post %>
      </div>
    </div>

    <div class="row">
      <!--each文で複数のものの中から1つずつ取得する-->
      <div class="col-10 offset-1 post_content">
        タグ:
        <% @post.tags.each do |tag|%>
          <%= tag.name %>
          <span class="text-right">
            <%= link_to admin_post_tag_path(@post.id, tag.id), method: :delete,"data-confirm"=>"本当に消しますか？" do %>
              <strong><i class="fas fa-trash-alt"></i></i></strong>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>

    <%= render 'admin/comments/comment_show', comments: @comments, post: @post %>

    <div class="row">
      <div class="col-10 offset-1 post_content">
        <%= link_to '削除', admin_post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-outline-danger" %>
        <%= link_to '一覧へ', admin_posts_path, class: "btn btn-outline-secondary"%>
      </div>
    </div>

</div>

