<div class="container">
  <div class="row">
    <div class="col-4 offset-2">
      <h2 class="title">sign in</h1>
    </div>
  </div>
  <div class="row text-center">
    <%= form_with model: resource, url: registration_path(resource_name), method: :POST do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, size: "40x20" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x20" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", size: "40x20" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "40x20" %>
      </div>

      <div class="actions">
        <%= f.submit "ログインはこちら",class: "btn btn-info btn-block" %>
      </div>
    <% end %>

    <div class="actions" style="margin-top:1rem;">
      <%= render "public/shared/links" %>
    </div>

  </div>
</div>





