<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">カテゴリー一覧</h2>
    </div>
  </div>

  <%= form_with model: @category, url: admin_categories_destroy_all_path(@category.id), local: true, method: :DELETE do |f| %>
    <div class="form-group row">
      <div class="col-10 offset-1">
        <div class="table_area">
          <table class="scroll_table table">
            <thead>
              <tr>
                <th>カテゴリー一覧</th>
                <!--<th colspan="1"></th>-->
                <th><%= f.submit '削除', data: { confirm: "本当に削除してもよろしいですか?"}, class: "btn btn-outline-danger" %></th>
              </tr>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= check_box "deletes", category.id %>
                  <%= category.category_name %></td>
                  <td><%= link_to "編集", edit_admin_category_path(category.id), class: "btn btn-outline-primary" %></td>
                  <td><%= link_to "チェックリスト", admin_category_checklists_path(category.id), class: "btn btn-outline-primary"%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <%= form_with model: @category, url: admin_categories_path, local: true, method: :POST do |f| %>
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-10 offset-1">
        <div class="field">
          <%= f.text_field :category_name, placeholder: "カテゴリー名", class: "form-control" %>
        </div>
        <div class="field">
          <%= f.submit '登録', class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% end %>




</div>