<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>会員一覧</h4>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>会員氏名</th>
        <th>メールアドレス</th>
        <th></th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= user.id %>
          <% end %>
        </td>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= link_to admin_user_index_for_user_path(user) do %>
            チェックリスト
          <% end %>
        </td>
        <td>
          <% if user.is_delete == false %>
            有効
          <% else %>
            退会
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>