<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">ログイン</h2>
    </div>
  </div>

  <!--<div class="row">-->
  <!--  <div class="col-10 offset-1">-->
  <!--    <%#= render "public/shared/error_messages", resource: resource %>-->
  <!--  </div>-->
  <!--</div>-->

  <% if alert.present? %>
    <div class="row">
      <div class="col-10 offset-1">
          <div id="error_explanation">
              <ul>
                  <li><%= alert %></li>
              </ul>
          </div>
      </div>
    </div>
  <% else %>
  <% end %>


  <%= form_with model: @user, url: new_user_session_path do |f| %>
    <div class="row login-form">
      <div class="col-10 offset-1">
        <div class="field">
          <%= f.label :email%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x20"%>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", size: "40x20" %>
        </div>
      <!--<%# if devise_mapping.rememberable? %>-->
      <!--  <div class="field">-->
      <!--    <#= f.check_box :remember_me %>-->
      <!--    <%#= f.label :remember_me %>-->
      <!--  </div>-->
      <!--<%# end %>-->

        <div class="actions">
          <%= f.submit "Log in" ,class: "btn btn-outline-primary"%>
        </div>

        <div class="actions" style="margin-top:1rem;">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>

    <!--<div class="actions" style="margin-top: 1rem;">-->
    <!--  <%#= render "public/shared/links" %>-->
    <!--</div>-->


</div>


