<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <h2 class="title">キャンプ一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>キャンプID</th>
            <th>名前</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>
          <% @camps.each do |camp| %>
          <tr>
            <td>
              <%= link_to admin_camp_path(camp) do %>
                <%= camp.id %>
              <% end %>
            </td>
            <td>
              <%= camp.user.name %>
            </td>
            <td>
              <%= l camp.created_at %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @camps %>
</div>