<div class="container">
  <div class="row">
  	<div class="col-10 offset-1">
  		<h2 class="title">キャンプ詳細</h2>
  	</div>
  </div>

  <div class="row">
  	<div class="col-4 col-md-6 col-sm-8 col-10 offset-1">
  		<table class="table">
		  	<tbody>
		  		<tr>
		  			<th>日程</th>
		  		  <td><%= @camp.schedule %></td>
		  		</tr>
		  		<tr>
		  			<th>キャンプ場</th>
		  			<td><%= @camp.camp_site %></td>
		  		</tr>
		  		<tr>
		  			<th>人数</th>
		  			<td><%= @camp.number_of_people %></td>
		  		</tr>
		  		<tr>
		  			<td><%= link_to "削除", admin_camp_path(@camp), method: :delete,"data-confirm"=>"本当に消しますか？", class: "btn btn-outline-danger" %></td>
		  			<td><%= link_to '一覧へ', admin_camps_path, class: "btn btn-outline-secondary"%></td>
		  		</tr>
		  	</tbody>
		  </table>
  	</div>
  </div>
</div>