<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>マイページ</h2>
    </div>
  </div>

  <div class="text-success">
    <% if flash[:notice] %>
       <p id="notice text-success">
         <%= flash[:notice] %>
       </p>
    <% end %>
  </div>


  <!--<div class="row">-->
  <!--  <div class="col">-->
      <%#= image_tag @user.get_background_image(100,100) %>
  <!--  </div>-->
  <!--</div>-->

  <div class="row">
    <div class="col-12 text-center">
      <%= image_tag @user.get_profile_image, style: "border-radius: 50%; width: 200px; height: 200px; object-fit:cover;" %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <%= @user.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-around">
      <%= link_to "記事投稿", new_post_path %>

      <%= link_to "いいね一覧", favorites_path %>

      <%= link_to "マイページ編集", edit_user_path(@user.id) %>

      <%= link_to "キャンプ", camps_path %>
    </div>
  </div>
</div>

<div class="container">
<div class="card-list-container py-5">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="card d-inline-block mt-4 shadow-lg" style="width:100%;">
          <%= link_to post_path(post.id) do %>
            <% if post.post_images.attached? %>
              <%= image_tag post.post_images.first, class:"card-img-top img-fluid card-item-image" %>
            <% else %>
              <%= image_tag 'no_image_yoko.jpeg', class:"card-img-top img-fluid card-item-image" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <div class="card-title">
              <%= link_to(post_path(post.id), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= post.title %></span></strong>
              <% end %>
            </div>
            <div class="card-tag">
              タグ：
              <% post.tags.pluck(:name).each do |tag_name| %>
                <%= tag_name %>
              <% end %>
            </div>
            <div class="card-text">
              <span><i class="fas fa-user"></i> By <%= post.user.name %> ｜ </span>
              <!--コメント数の表示-->
              <p class="caption"><%= "#{post.comments.count} コメント" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      <%#= paginate @posts %>
  </div>
</div>
</div>


