<!DOCTYPE html>
<html>
  <head>
    <title>Campgo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><span>campgo</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdaown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to admin_users_path, class: 'nav-link' do %>
                  会員一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_posts_path, class: 'nav-link' do %>
                  投稿一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_camps_path, class: 'nav-link' do %>
                  キャンプ一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_categories_path, class: 'nav-link' do %>
                  チェックリスト編集
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %>
                  ログアウト
                <% end %>
              </li>

              <% elsif user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id), class: 'nav-link' do %>
                  マイページ
                <% end %>
              </li>
              <li>
                <%= link_to new_camp_path, class: 'nav-link' do %>
                  キャンプ
                <% end %>
              </li>
              <li>
                <%= link_to posts_path, class: 'nav-link' do %>
                  投稿一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                  ログアウト
                <% end %>
              </li>

              <% else %>
              <li>
                <%= link_to new_user_registration_path, class: 'nav-link' do %>
                  新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: 'nav-link' do %>
                  ログイン
                <% end %>
              </li>
              <!--<li>-->
              <!--  <%#= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'nav-link' do %>-->
              <!--    ゲストログイン-->
              <!--  <%# end %>-->
              <!--</li>-->
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
